///*------------------------------------*\
//    #TABLES
//\*------------------------------------*/

// Predefine the variables below in order to alter and enable specific features.
$tree-table-padding--compact: quarter($tree-base-spacing-unit) !default;
$tree-table-padding--cosy:    halve($tree-base-spacing-unit) !default;
$tree-table-padding--comfy:   $tree-base-spacing-unit !default;

$tree-table-border-width:     1px !default;
$tree-table-border-style:     solid !default;
$tree-table-border-color:     #ccc !default;

$tree-enable-table--fixed:    false !default;
$tree-enable-table--compact:  false !default;
$tree-enable-table--cosy:     false !default;
$tree-enable-table--comfy:    false !default;
$tree-enable-table--cells:    false !default;
$tree-enable-table--rows:     false !default;
$tree-enable-table--columns:  false !default;




.#{$tree-namespace}table,
%#{$tree-namespace}table {
    width: 100%;
}





@if ($tree-enable-table--fixed == true) {

    // Force tables into having equal-width columns.
    .#{$tree-namespace}table--fixed,
    %#{$tree-namespace}table--fixed {
        table-layout: fixed;
    }

}





@if ($tree-enable-table--compact == true) {

    // Tables with very tightly packed cells.
    .#{$tree-namespace}table--compact,
    %#{$tree-namespace}table--compact {

        th,
        td {
            padding: $tree-table-padding--compact;
        }

    }

}





@if ($tree-enable-table--cosy == true) {

    // Lightly packed cells.
    .#{$tree-namespace}table--cosy,
    %#{$tree-namespace}table--cosy {

        th,
        td {
            padding: $tree-table-padding--cosy;
        }

    }

}





@if ($tree-enable-table--comfy == true) {

    // Tables with very widely padded cells.
    .#{$tree-namespace}table--comfy,
    %#{$tree-namespace}table--comfy {

        th,
        td {
            padding: $tree-table-padding--comfy;
        }

    }

}





@if ($tree-enable-table--cells == true) {

    // Add borders around a `table`.
    .#{$tree-namespace}table--cells,
    %#{$tree-namespace}table--cells {

        th,
        td {
            border: $tree-table-border-width $tree-table-border-style $tree-table-border-color;
        }

    }

}





@if ($tree-enable-table--rows  == true) {

    // Add borders only to `table`'s rows.
    .#{$tree-namespace}table--rows,
    %#{$tree-namespace}table--rows {

        &,
        th,
        td {
            border: 0 $tree-table-border-style $tree-table-border-color;
        }

    }

    .#{$tree-namespace}table--rows,
    %#{$tree-namespace}table--rows {
        border-top-width: $tree-table-border-width;

        th,
        td {
            border-bottom-width: $tree-table-border-width;
        }
    }

}





@if ($tree-enable-table--columns == true) {

    // Add borders only to `table`'s columns.
    .#{$tree-namespace}table--columns,
    %#{$tree-namespace}table--columns {

        &,
        th,
        td {
            border: 0 $tree-table-border-style $tree-table-border-color;
        }
    }

    .#{$tree-namespace}table--columns,
    %#{$tree-namespace}table--columns {
        border-left-width: $tree-table-border-width;

        th,
        td {
            border-right-width: $tree-table-border-width;
        }
    }

}
